Babel
CommonMark
Jinja2
MarkupSafe
PyYAML
Pygments
Sphinx
sphinxcontrib-phpdomain
alabaster
argh
argparse
docutils
html5lib
meld3
pathtools
pytz
recommonmark
six
snowballstemmer
sphinx-autobuild
sphinx-rtd-theme
wheel
